* {
    font-size: 1em;
}

body {
    background-color: pink;
}

h1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: maroon;
}

h3 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: maroon;
    font-family: monospace;
}

code {
    color: black;
}

.calc-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: blueviolet;
    color: #783f04;
    justify-content: center;
    margin: 12.5vh 10vw 0vh 10vw;
    border: indianred solid 12px;
    border-radius: 24px;
    height: 100px;
    min-width: 500px;
}

.calc-container * {
    margin: 10px;
}

.text-input {
    color: maroon;
    text-align: center;
    border: pink solid 6px;
    border-radius: 6px;
    height: 40px;
    width: 12vw;
    font-weight: 700;
    font-family: monospace;
}

.text-input:hover {
    border: magenta solid 6px;
}

.calc-options {
    border: magenta solid 6px;
    border-radius: 12px;
    color: #783f04;
    height: 54px;
}

.calc-options:hover {
    border-color: pink;
}

.calculate-button {
    border: violet solid 6px;
    border-radius: 12px;
    height: 54px;
}

.calculate-button:hover {
    cursor: pointer;
    border: magenta solid 6px;
    border-radius: 12px;
}

.answer-text {
    padding-top: 10px;
    font-size: 1.25rem;
    text-align: center;
    color:lawngreen;
    font-family: monospace;
    font-weight: 600;
    border: magenta dashed 4px;
    border-radius: 8px;
    width: 10vw;
    height: 56px;
};